/*clearfix-浮动清理*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.clearfix {
  display: inline-block
}
* html .clearfix {
  height: 1%
}
.clearfix {
  display: block
}
body {
  font-family: 'Microsoft Yahei', 'Helvetica', 'Arial', san-serif !important;
  font-size: 13px;
  padding: 25px;
  background-color: #d6dfec;
}
#content-container {
  margin: auto;
  width: 1200px;
}
#formatting-container {
  background-color: #acc0d6;
  border-bottom: 1px solid #23334e;
  padding: 5px 12px;
}
#formatting-container .ql-active, #formatting-container button:hover, #formatting-container span:hover {
  color: #23334e;
  font-weight: bold;
}
.ql-picker{
  border: 1px solid #23334e;
  box-shadow: 0 0 2px 2px #8492bd;
}
.ql-format-group button{
  background: #acc0d6;
  border: none;
  box-shadow: none;
}
.ql-format-group button.ql-active{
  background: #d6dfec;
  border: 1px solid #23334e;
  box-shadow: 0 0 2px 2px #8492bd;
}
.ql-clean{
  font-size: 16px;
}
#editor-container {
  float: left;
  width: 599px;
  height: 700px;
  border-right: 1px solid #23334e;
}
#editor-wrapper {
  border: 1px solid #23334e;
  box-shadow: 0 0 2px 2px #8492bd;
  background-color: #fdfefe;
}
#editor-container p {
  /*text-indent: 2em;*/
}
#html-container {
  float: left;
  width: 599px;
  height: 700px;
}